# 1. Variables and Data Types

In [ ]:
name = "Asha"     # string
age = 25          # integer
height = 1.75     # float
is_student = True # boolean

### Loops

In [2]:
heights = [150, 160, 170]

for h in heights:
    print(h)

150
160
170

### Conditional Statements (important for cleaning & encoding)

In [4]:
age = 20

if age < 18:
    print("Underage")
else:
    print("Adult")

Adult

### Functions

In [6]:
def add(a, b):
    return a + b

result = add(5, 7)
print(result)

12

# Lists

## Lists store multiple values and are mutable (changeable).

In [12]:
scores = [45, 67, 89, 90]
scores

[45, 67, 89, 90]

## accessing Elements Using their Index

In [14]:
scores[0]
scores[-1]

90

# Modify List

In [40]:
scores = [45, 67, 89, 90]

# Add a value
scores.append(95)  
# Now: [45, 67, 89, 90, 95]

# Modify a value
scores[1] = 70  
# Now: [45, 70, 89, 90, 95]

# Remove a value
scores.remove(90)
# Now: [45, 70, 89, 95]

print(scores)

[45, 70, 89, 95]

# Tuples
Tuples are immutable lists — values cannot be changed.

Useful when storing constant values (e.g., coordinates, model setting ranges).

In [45]:
coordinates = (10, 20)
sizes = ("Small", "Medium", "Large")
sizes

('Small', 'Medium', 'Large')

# Dictionaries
Dictionaries store data in key–value format.
Very useful in encoding, mapping, and configuration.

In [47]:
student = {
    # key and value
    "name": "Ali",
    "age": 21,
    "grade": "A"
}

## Access values:

In [49]:
student["name"]

'Ali'

## Add or update:

In [51]:
student["age"] = 22
student["city"] = "Nairobi"