In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# df= pd.read_csv(r"D:\workshop\dataset\test.csv")
df= pd.read_csv(r"\ahmed\Revision\workshop\lesson_plans\Lesson_Plans\dataset\House_Price.csv")
df

,Bedrooms,Bathrooms,HouseSize_sqft,Neighborhood,Condition,Price
0,5.0,3.0,1998.685661,Expensive Area,Fair,1.223983e+06
1,5.0,2.0,1744.694280,Expensive Area,Poor,1.125837e+06
2,5.0,3.0,NaN,Low-Cost,Good,1.078208e+06
3,6.0,4.0,2409.211943,Low-Cost,Poor,1.240305e+06
4,3.0,3.0,1706.338650,Expensive Area,Good,-2.084576e+05
...,...,...,...,...,...,...
400,6.0,4.0,3341.092596,NaN,Good,1.643968e+06
401,4.0,2.0,1845.406938,Middle Class,Fair,1.002568e+06
402,NaN,2.0,1376.915628,Expensive Area,Poor,NaN
403,5.0,3.0,2028.356204,NaN,Fair,1.066774e+06
404,3.0,2.0,1668.935141,Middle Class,Poor,9.122537e+05