In [1]:
import pandas as pd
import numpy as np

In [2]:
data_frame=pd.read_csv(r"C:\Users\ahmed\Revision\workshop\Py_for_ML\Workshop_lessons\dataset\cleaned_data\outlier_free.csv")
data_frame

,Unnamed: 0,Bedrooms,Bathrooms,HouseSize_sqft,Neighborhood,Condition,Price
0,0,5.0,3.0,1998.685661,Expensive Area,Fair,1.223983e+06
1,1,5.0,2.0,1744.694280,Expensive Area,Poor,1.125837e+06
2,2,5.0,3.0,1809.804070,Low-Cost,Good,1.078208e+06
3,3,6.0,4.0,2409.211943,Low-Cost,Poor,1.240305e+06
4,4,3.0,2.0,1706.345217,Middle Class,Poor,9.781016e+05
...,...,...,...,...,...,...,...
374,374,4.0,2.0,1612.329739,Expensive Area,Poor,1.012177e+06
375,375,3.0,2.0,1114.746188,Low-Cost,Fair,6.313032e+05
376,376,6.0,3.0,2341.548950,Middle Class,Fair,1.315946e+06
377,377,4.0,1.0,1809.804070,Expensive Area,Fair,1.046926e+06
378,378,4.0,3.0,2295.126525,Expensive Area,Good,1.360911e+06

In [3]:
# remove_unwanted=data_frame.drop("Unnamed: 0",axis=1)
remove_unwanted=data_frame.drop(["Unnamed: 0"],axis=1)
remove_unwanted

,Bedrooms,Bathrooms,HouseSize_sqft,Neighborhood,Condition,Price
0,5.0,3.0,1998.685661,Expensive Area,Fair,1.223983e+06
1,5.0,2.0,1744.694280,Expensive Area,Poor,1.125837e+06
2,5.0,3.0,1809.804070,Low-Cost,Good,1.078208e+06
3,6.0,4.0,2409.211943,Low-Cost,Poor,1.240305e+06
4,3.0,2.0,1706.345217,Middle Class,Poor,9.781016e+05
...,...,...,...,...,...,...
374,4.0,2.0,1612.329739,Expensive Area,Poor,1.012177e+06
375,3.0,2.0,1114.746188,Low-Cost,Fair,6.313032e+05
376,6.0,3.0,2341.548950,Middle Class,Fair,1.315946e+06
377,4.0,1.0,1809.804070,Expensive Area,Fair,1.046926e+06
378,4.0,3.0,2295.126525,Expensive Area,Good,1.360911e+06

In [4]:
df=remove_unwanted.copy()
df

,Bedrooms,Bathrooms,HouseSize_sqft,Neighborhood,Condition,Price
0,5.0,3.0,1998.685661,Expensive Area,Fair,1.223983e+06
1,5.0,2.0,1744.694280,Expensive Area,Poor,1.125837e+06
2,5.0,3.0,1809.804070,Low-Cost,Good,1.078208e+06
3,6.0,4.0,2409.211943,Low-Cost,Poor,1.240305e+06
4,3.0,2.0,1706.345217,Middle Class,Poor,9.781016e+05
...,...,...,...,...,...,...
374,4.0,2.0,1612.329739,Expensive Area,Poor,1.012177e+06
375,3.0,2.0,1114.746188,Low-Cost,Fair,6.313032e+05
376,6.0,3.0,2341.548950,Middle Class,Fair,1.315946e+06
377,4.0,1.0,1809.804070,Expensive Area,Fair,1.046926e+06
378,4.0,3.0,2295.126525,Expensive Area,Good,1.360911e+06

In [5]:
df['Neighborhood'].value_counts()

Neighborhood
Middle Class      151
Expensive Area    115
Low-Cost          113
Name: count, dtype: int64

In [6]:
# df['Bathrooms']=df['Bathrooms'].astype(int)
df['Bathrooms'].value_counts()

Bathrooms
2.0    192
3.0    114
1.0     54
4.0     19
Name: count, dtype: int64

In [7]:
df['Bedrooms'].value_counts()

Bedrooms
4.0    156
3.0    112
5.0     50
2.0     40
6.0     13
1.0      8
Name: count, dtype: int64

In [8]:
df["Bedrooms"] = df["Bedrooms"].round().astype("Int64")
df["Bathrooms"] = df["Bathrooms"].round().astype("Int64")
df["HouseSize_sqft"] = df["HouseSize_sqft"].round().astype("int64")
df

,Bedrooms,Bathrooms,HouseSize_sqft,Neighborhood,Condition,Price
0,5,3,1999,Expensive Area,Fair,1.223983e+06
1,5,2,1745,Expensive Area,Poor,1.125837e+06
2,5,3,1810,Low-Cost,Good,1.078208e+06
3,6,4,2409,Low-Cost,Poor,1.240305e+06
4,3,2,1706,Middle Class,Poor,9.781016e+05
...,...,...,...,...,...,...
374,4,2,1612,Expensive Area,Poor,1.012177e+06
375,3,2,1115,Low-Cost,Fair,6.313032e+05
376,6,3,2342,Middle Class,Fair,1.315946e+06
377,4,1,1810,Expensive Area,Fair,1.046926e+06
378,4,3,2295,Expensive Area,Good,1.360911e+06

In [9]:
df['Bedrooms'].value_counts()

Bedrooms
4    156
3    112
5     50
2     40
6     13
1      8
Name: count, dtype: Int64

In [10]:
df["Neighborhood"] = df["Neighborhood"].astype(str).str.strip()# white spacing
df["Condition"] = df["Condition"].astype(str).str.strip()

In [11]:
# df["Neighborhood"] = df["Neighborhood"].astype(str).str.strip()
# df["Neighborhood"].value_counts()

### Numeric and Categorical

In [12]:
no_cols=df.select_dtypes(["number"]).columns.difference(["Price"]).tolist()
# no_cols=['Bathrooms', 'Bedrooms', 'Condition', 'HouseSize_sqft', 'Neighborhood']
cat_cols = df.select_dtypes(exclude="number").columns
no_cols

['Bathrooms', 'Bedrooms', 'HouseSize_sqft']

### Standardization (StandardScaler)
Transform mean = 0, std = 1

In [13]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
# we wiil scale the numeric data in lesson 4 -- during training and testing. now do not scale. ignore the comment
 # do a research on the difference between fit_transform at once and fit and transform 
# scaler=StandardScaler()
# transformed_data=scaler.fit_transform(df[no_cols])
# transformed_data

In [14]:
# scaled_df = pd.DataFrame(transformed_data, columns=no_cols,index=df.index)
# scaled_data = pd.concat([scaled_df, df[cat_cols]], axis=1)
# scaled_data

In [15]:
# scaled_data["Price"] = df["Price"]
# scaled_data

### Normalization (MinMaxScaler)

In [16]:
# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler()
# df["column_Name"] = scaler.fit_transform(df[["column_Name"]])

In [17]:
df

,Bedrooms,Bathrooms,HouseSize_sqft,Neighborhood,Condition,Price
0,5,3,1999,Expensive Area,Fair,1.223983e+06
1,5,2,1745,Expensive Area,Poor,1.125837e+06
2,5,3,1810,Low-Cost,Good,1.078208e+06
3,6,4,2409,Low-Cost,Poor,1.240305e+06
4,3,2,1706,Middle Class,Poor,9.781016e+05
...,...,...,...,...,...,...
374,4,2,1612,Expensive Area,Poor,1.012177e+06
375,3,2,1115,Low-Cost,Fair,6.313032e+05
376,6,3,2342,Middle Class,Fair,1.315946e+06
377,4,1,1810,Expensive Area,Fair,1.046926e+06
378,4,3,2295,Expensive Area,Good,1.360911e+06

### ENCODING CATEGORICAL VARIABLES

In [18]:
df["Condition"].value_counts()

Condition
Poor    149
Fair    122
Good    108
Name: count, dtype: int64

### 1- Manual Encoding Mapping

In [19]:
# Clean strings

df["Neighborhood"] = df["Neighborhood"].astype(str).str.strip()
df["Condition"] = df["Condition"].astype(str).str.strip()

# Manual mapping dictionaries
neighborhood_map = {
    "Low-Cost": 0,
    "Outskirts": 1,
    "Middle Class": 2,
    "Expensive Area": 3
}

condition_map = {
    "Poor": 0,
    "Fair": 1,
    "Good": 2,
    "Excellent": 3
}

# Apply mapping
df["Neighborhood"] = df["Neighborhood"].map(neighborhood_map)
df["Condition"] = df["Condition"].map(condition_map)

In [20]:
df

,Bedrooms,Bathrooms,HouseSize_sqft,Neighborhood,Condition,Price
0,5,3,1999,3,1,1.223983e+06
1,5,2,1745,3,0,1.125837e+06
2,5,3,1810,0,2,1.078208e+06
3,6,4,2409,0,0,1.240305e+06
4,3,2,1706,2,0,9.781016e+05
...,...,...,...,...,...,...
374,4,2,1612,3,0,1.012177e+06
375,3,2,1115,0,1,6.313032e+05
376,6,3,2342,2,1,1.315946e+06
377,4,1,1810,3,1,1.046926e+06
378,4,3,2295,3,2,1.360911e+06

### 2-OrdinalEncoder-- Exercise

### 3 LabelEncoder-- (No order)gives automatic numbering- alphabetical order
Use LabelEncoder only if:

Data has no ordinal meaning

You are using tree-based models: RandomForest, DecisionTree, XGBoost
(they don't care about numeric order

In [21]:
from sklearn.preprocessing import LabelEncoder

data = ['Red', 'Green', 'Blue', 'Red']

le = LabelEncoder()
encoded_data = le.fit_transform(data)
print(f"Encoded Data: {encoded_data}")

Encoded Data: [2 1 0 2]

In [22]:
# from sklearn.preprocessing import LabelEncoder

# le = LabelEncoder()
# df["Condition"] = le.fit_transform(df["Condition"])

## 4: OneHotEncoder---Exercise

In [23]:
df

,Bedrooms,Bathrooms,HouseSize_sqft,Neighborhood,Condition,Price
0,5,3,1999,3,1,1.223983e+06
1,5,2,1745,3,0,1.125837e+06
2,5,3,1810,0,2,1.078208e+06
3,6,4,2409,0,0,1.240305e+06
4,3,2,1706,2,0,9.781016e+05
...,...,...,...,...,...,...
374,4,2,1612,3,0,1.012177e+06
375,3,2,1115,0,1,6.313032e+05
376,6,3,2342,2,1,1.315946e+06
377,4,1,1810,3,1,1.046926e+06
378,4,3,2295,3,2,1.360911e+06

### Feature Selection

### which features influence the target variable.
### how important is a feature

In [25]:
feature_Selection=df.copy()
feature_Selection

,Bedrooms,Bathrooms,HouseSize_sqft,Neighborhood,Condition,Price
0,5,3,1999,3,1,1.223983e+06
1,5,2,1745,3,0,1.125837e+06
2,5,3,1810,0,2,1.078208e+06
3,6,4,2409,0,0,1.240305e+06
4,3,2,1706,2,0,9.781016e+05
...,...,...,...,...,...,...
374,4,2,1612,3,0,1.012177e+06
375,3,2,1115,0,1,6.313032e+05
376,6,3,2342,2,1,1.315946e+06
377,4,1,1810,3,1,1.046926e+06
378,4,3,2295,3,2,1.360911e+06

### using correlation

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Compute correlations with the target
# numeric_cols=feature_Selection.select_dtype('number')

corr = feature_Selection.corr()

# Plot heatmap
plt.figure(figsize=(5, 6))
sns.heatmap(corr, annot=True, cmap='coolwarm', center=0)
plt.title('Feature Correlation with Target (Price)')
plt.show()

In [ ]:
corr

# Save the the cleaned data

In [26]:
feature_Selection.to_csv(r"C:\Users\ahmed\Revision\workshop\Py_for_ML\Workshop_lessons\dataset\cleaned_data\final_df.csv")