In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# df= pd.read_csv(r"D:\workshop\dataset\test.csv")
df= pd.read_csv(r"House_Price.csv")
df

,Bedrooms,Bathrooms,HouseSize_sqft,Neighborhood,Condition,Price
0,5.0,3.0,1998.685661,Expensive Area,Fair,1.223983e+06
1,5.0,2.0,1744.694280,Expensive Area,Poor,1.125837e+06
2,5.0,3.0,NaN,Low-Cost,Good,1.078208e+06
3,6.0,4.0,2409.211943,Low-Cost,Poor,1.240305e+06
4,3.0,3.0,1706.338650,Expensive Area,Good,-2.084576e+05
...,...,...,...,...,...,...
400,6.0,4.0,3341.092596,NaN,Good,1.643968e+06
401,4.0,2.0,1845.406938,Middle Class,Fair,1.002568e+06
402,NaN,2.0,1376.915628,Expensive Area,Poor,NaN
403,5.0,3.0,2028.356204,NaN,Fair,1.066774e+06
404,3.0,2.0,1668.935141,Middle Class,Poor,9.122537e+05

In [4]:
df.head()
# df.tail()

   Bedrooms  Bathrooms  HouseSize_sqft    Neighborhood Condition         Price
0       5.0        3.0     1998.685661  Expensive Area      Fair  1.223983e+06
1       5.0        2.0     1744.694280  Expensive Area      Poor  1.125837e+06
2       5.0        3.0             NaN        Low-Cost      Good  1.078208e+06
3       6.0        4.0     2409.211943        Low-Cost      Poor  1.240305e+06
4       3.0        3.0     1706.338650  Expensive Area      Good -2.084576e+05

In [5]:
df.info()
# df.describe()
#df.shape

# df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405 entries, 0 to 404
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Bedrooms        385 non-null    float64
 1   Bathrooms       385 non-null    float64
 2   HouseSize_sqft  384 non-null    float64
 3   Neighborhood    374 non-null    object
 4   Condition       380 non-null    object
 5   Price           384 non-null    float64
dtypes: float64(4), object(2)
memory usage: 19.1+ KB

In [6]:
df.describe()

         Bedrooms   Bathrooms  HouseSize_sqft         Price
count  385.000000  385.000000      384.000000  3.840000e+02
mean     3.666795    2.301668     1814.236689  1.011472e+06
std      1.403097    1.029975      513.445581  2.694947e+05
min     -4.821673   -3.933387    -1292.803019 -6.130810e+05
25%      3.000000    2.000000     1529.207229  8.580021e+05
50%      4.000000    2.000000     1814.016403  1.004517e+06
75%      4.000000    3.000000     2045.914868  1.141572e+06
max     14.195059   10.037828     5685.141419  3.028530e+06