In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
import sys
print(sys.executable)

C:\Users\ahmed\anaconda3\python.exe

In [18]:
cleaned_data=pd.read_csv(r"C:\Users\ahmed\Revision\workshop\Py_for_ML\Workshop_lessons\dataset\cleaned_data\final_df.csv")
cleaned_data

,Unnamed: 0,Bedrooms,Bathrooms,HouseSize_sqft,Neighborhood,Condition,Price
0,0,5,3,1999,3,1,1.223983e+06
1,1,5,2,1745,3,0,1.125837e+06
2,2,5,3,1810,0,2,1.078208e+06
3,3,6,4,2409,0,0,1.240305e+06
4,4,3,2,1706,2,0,9.781016e+05
...,...,...,...,...,...,...,...
374,374,4,2,1612,3,0,1.012177e+06
375,375,3,2,1115,0,1,6.313032e+05
376,376,6,3,2342,2,1,1.315946e+06
377,377,4,1,1810,3,1,1.046926e+06
378,378,4,3,2295,3,2,1.360911e+06

In [19]:
df=cleaned_data.drop(["Unnamed: 0","Neighborhood","Condition"],axis=1)
df

     Bedrooms  Bathrooms  HouseSize_sqft         Price
0           5          3            1999  1.223983e+06
1           5          2            1745  1.125837e+06
2           5          3            1810  1.078208e+06
3           6          4            2409  1.240305e+06
4           3          2            1706  9.781016e+05
..        ...        ...             ...           ...
374         4          2            1612  1.012177e+06
375         3          2            1115  6.313032e+05
376         6          3            2342  1.315946e+06
377         4          1            1810  1.046926e+06
378         4          3            2295  1.360911e+06

[379 rows x 4 columns]

In [20]:
X=df.drop("Price",axis=1)

y=df["Price"]
y.shape

(379,)

In [ ]:
X

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
print("X_train shape",X_train.shape,"\n y_train shape",y_train.shape)
print("")
print("X_test shape",X_test.shape,"\n y_test shape",y_test.shape)
print()

## fit and transform the train data and transform the test and new data

# Algorithm that needs scaling Numeric values are
## 1-Linear Models 2- Distance Based Models.
### Linear models
  #### Linear Regression, Logistic Regression
### Distance Based Models
#### K-nearest Neighbours,Support Vector Machine(SVM),
### K-Means(unsupervised learning), PCA(Unsupervised learning)

### 1. Select numeric columns

### 2. Import and create a StandardSc

In [ ]:
# Import and create a StandardScaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
X_train.shape

### 3. Fit ONLY on training data

In [ ]:
scaler.fit(X_train)

### 4. Transform train and test sets

In [ ]:
X_train_scaled = X_train.copy()
X_test_scaled = X_test.copy()

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
print("X_train shape",X_train_scaled.shape,"\n y_train shape",y_train.shape)
print("")
print("X_test shape",y_test.shape,"\n y_test shape",y_test.shape)
print()

In [ ]:
X_train_scaled

In [ ]:
X_test_scaled

### 5 Build Model

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train_scaled, y_train)

### 6. Predict

In [ ]:
y_predict = model.predict(X_test_scaled)
y_predict

### 7. Evaluate the model (MSE, RMSE, RÂ²)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

mse = mean_squared_error(y_test, y_predict)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("MSE:", mse)
print("RMSE:", rmse)
print("RÂ² Score:", r2)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=42)
model.fit(X_train_scaled, y_train)
y_predict= model.predict(X_test)
y_predict

In [ ]:
# test=y_test-y_predict
# test
# t=pd.DataFrame(y_test,columns=[])

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

#  Calculate MSE (Mean Squared Error)
mse = mean_squared_error(y_test, y_predict)

#  Calculate RMSE (Root Mean Squared Error)
rmse = np.sqrt(mse)

#  Calculate RÂ² Score
r2 = r2_score(y_test, y_predict)

#  Print results
print("MSE:", mse)
print("RMSE:", rmse)
print("RÂ² Score:", r2)

In [ ]:
# Multiple Regression model

In [ ]:
# # ==========================
# # ðŸ“¦ Import Libraries
# # ==========================
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error, r2_score
# from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
# from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.svm import SVR
# import numpy as np

# # ==========================
# # ðŸ§  Define Regression Models
# # ==========================
# models = {
#     "Linear Regression": LinearRegression(),
#     "Ridge Regression": Ridge(alpha=1.0),
#     "Lasso Regression": Lasso(alpha=0.01),
#     "ElasticNet Regression": ElasticNet(alpha=0.01, l1_ratio=0.5),
#     "Decision Tree Regressor": DecisionTreeRegressor(random_state=42),
#     "Random Forest Regressor": RandomForestRegressor(n_estimators=100, random_state=42),
#     "Gradient Boosting Regressor": GradientBoostingRegressor(random_state=42),
#     "AdaBoost Regressor": AdaBoostRegressor(random_state=42),
#     "Support Vector Regressor": SVR(kernel='rbf'),
#     "K-Nearest Neighbors Regressor": KNeighborsRegressor(n_neighbors=5)
# }

# # ==========================
# # ðŸ“ˆ Train, Predict, and Print Results for Each Model
# # ==========================
# for name, model in models.items():
#     print("="*70)
#     print(f"ðŸ”¹ Model: {name}")
#     print(model)
#     print("-"*70)
    
#     # Train model
#     model.fit(X_train, y_train)
    
#     # Predict
#     y_pred = model.predict(X_test)
    
#     # Evaluate metrics
#     mse = mean_squared_error(y_test, y_pred)
#     rmse = np.sqrt(mse)
#     r2 = r2_score(y_test, y_pred)
    
#     # Print results
#     print(f"MSE:  {mse:.4f}")
#     print(f"RMSE: {rmse:.4f}")
#     print(f"RÂ² Score: {r2:.4f}")



# print("âœ… All models have been evaluated successfully!")
# print('model =', name, ', r2 =', r2)

### Comparing the actual price with predicted data

In [ ]:
import pandas as pd

# Create comparison DataFrame
comparison_df = pd.DataFrame({
    "Actual Price": y_test.values, #pandas series
    "Predicted Price": y_pred, #numpy
})
# errors=y_test-y_predict
# Add difference column
comparison_df["Difference"] = comparison_df["Actual Price"] - comparison_df["Predicted Price"]

comparison_df.head()

#### Predicting New data

In [ ]:
new_house = pd.DataFrame([{
    "Bedrooms": 3,
    "Bathrooms": 2,
    "HouseSize_sqft": 1500,
}])

### Scale the new data

In [ ]:
new_data_scaled = scaler.transform(new_data[num_cols])
new_pred = model.predict(new_data_scaled)

In [ ]:
new_scaled = scaler.transform(new_house)
# Step 2: Convert back to DataFrame 
new_scaled_df = pd.DataFrame(new_scaled, columns=new_house.columns)
new_scaled_df

In [ ]:
prediction = model.predict(new_scaled_df)
prediction

### Comparing Test Prediction With the Actual

In [ ]:
import pandas as pd

# Create comparison DataFrame
comparison_df = pd.DataFrame({
    "Actual Price": y_test.values, #pandas series
    "Predicted Price": y_pred, #numpy
})
# errors=y_test-y_predict
# Add difference column
comparison_df["Difference"] = comparison_df["Actual Price"] - comparison_df["Predicted Price"]

comparison_df["Actual Price"] = comparison_df["Actual Price"].apply(lambda x: f"{x:,.0f}")
comparison_df["Predicted Price"] = comparison_df["Predicted Price"].apply(lambda x: f"{x:,.0f}")
comparison_df["Difference"] = comparison_df["Difference"].apply(lambda x: f"{x:,.0f}")

comparison_df.head()
# # test_data["y_predction"]=prediction
# # test_data
# # prediction

In [ ]:
import joblib
joblib.dump(model, "model.pkl")

In [ ]:
joblib.dump(scaler, "scaler.pkl")